@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color:#13213C;
}
header{
    width: 100%;
    height: 200px;
       
}
.head{
    display: grid;
    width: 100%;
}
 .logo{
   font-size: 100px;
   color:#FCA313;
   text-align: left;
   margin: auto;
   
}

.head .titulo{
    color: white;
    text-align: center;
    font-size: 50px;
    
    
}
.conteiner{
    width: 100%;
    
}

.conteiner .giro img{
    width: 50%;
    display: flex;
    margin: auto;
    -webkit-user-drag: none;
  
    
}
.car-img{
   transition: ease-in;
}




